@using KendoGrid
@{
    ViewBag.Title = "Tolik Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}

<select multiple="multiple" id="mySelect">
</select>

<span id="timeBox">
</span>
<input type="button" onclick="getTime();" value="Request Server Time" style="display:inline"/>

@section JScript{
    <script type="text/javascript">

        $(document).ready(function () {

            $.get("@(Url.Action("SelectOptionsGet", new {controller = "Home"}))", {/*parameters: parametersGet(3)*/ }, function (data) {
                $.each(data, function (index, value) {
                    $("#mySelect").append('<option value="' + value.Id + '">' + value.Title + '</option>');
                    console.log("Second");
                });
                console.log("Third");
                
                var mySelect = $("#mySelect").kendoMultiSelect().data("kendoMultiSelect");
            }, 'json');

            console.log("First");
        });
 
        function parametersGet(id) {
            return {id: id/*id из параметра*/, Title: $("#myTextBox").val(), images: [{imgSrc: $("#image").attr("src")}], description: $() };
        }

        function getTime() {
            $.get("@(Url.Action("CurrentTimeGet", new {controller = "Home"}))", {/*parameters: parametersGet(3)*/ }, function (data) {
                $("#timeBox").append(data);
            }, 'json');
        }

        console.log("0");
    </script>
}